<%+header%>

<h2>Fix TTL</h2>


    <div class="cbi-section">
        <h3>Log Proses</h3>
        <% if status_msg and #status_msg > 0 then %>
            <pre style="padding:10px;border:1px solid #ccc;"><%= status_msg %></pre>
        <% else %>
            <pre style="padding:10px;border:1px solid #ccc;">Log tidak tersedia.</pre>
        <% end %>
    </div>
        
<br \>
<div class="cbi-section">
    <h3>Status</h3>
    <% if ttl_active then %>
        <div style="color: green; font-weight:bold;padding: 20px;"> Enabled </div>
    <% else %>
        <div style="color: red; font-weight:bold;;padding: 20px;"> Disabled </div>
    <% end %>
</div>
<br \>

<form method="post">
    <div class="cbi-section" style="padding: 20px">
        <label for="ttl_value">Nilai TTL (1-255):</label> <br \>
        <input 
            type="number" 
            id="ttl_value" 
            name="ttl_value" 
            min="1" 
            max="255" 
            value="<%= ttl_value or 65 %>" 
            required
        /> <br \><br \>
    
        <% if ttl_active then %>
            <button class="cbi-button cbi-button-remove" type="submit" name="action" value="toggle">
                Nonaktifkan TTL
            </button>
        <% else %>
            <button class="cbi-button cbi-button-apply" type="submit" name="action" value="toggle">
                Aktifkan TTL
            </button>
        <% end %>
    </div>
</form>

<%+footer%>
